/*
Custom color palette
*/

:root {
    --dark_blue: #2b6777;
    --light_blue: #c8d8e4;
    --white: #ffffff;
    --gray: #f2f2f2;
    --darker_gray: #e2e2e2;
    --light_green: #52ab98;
}



* {
    box-sizing: border-box;
}

html {
    background-color: var(--gray);
}

body {
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    inline-size: 100%;
    margin-inline: auto;
    margin-top: 0px;

}


/* -------------
---- Layout ----
------------- */ 

header {
    background-color: var(--light_blue);
    border: var(--dark_blue), solid, 2px;
    padding: 10px 20px;
    margin-top: 0px;
    
    display: flex;
    align-items: center;
    justify-content: space-between; /* This makes it so the elements are on opposite sides of the page */
}

main {
    background-color: var(--white);
    width: 80%;
    padding: 25px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

footer {
    background-color: var(--light_green);
    color: var(--white);
    padding: 10px 10px;
}

/* --------------------
--- Text Properties ---
-------------------- */

h1 {
    color: var(--light_green);
    text-shadow: 2px 2px 1px var(--dark_blue);
    font-size: 3rem;
}

h2 {
    color: var(--dark_blue);
    font-size: 2rem;
}

h3 {
    color: var(--light_green);
    margin-bottom: 0px;
}

h4 {
    margin-top: 5px;
    margin-left: 2px;
    margin-bottom: 5px;
}

footer h3 {
    color: var(--dark_blue);
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    color: var(--dark_blue);
}

footer ul {
    list-style-type: none;
}

div {
    border: var(--darker_gray), solid, 2px;
    background-color: var(--gray);
    
    box-shadow: 2px 2px 2px var(--light_green);
    padding: 5px 20px;
    margin-bottom: 20px;
}


/* ------------
---- Links ----
------------ */ 

a {
    color: inherit;
}

a:hover, 
a:focus-visible {
    /* Changes the color of links when the cursor hovers over them. */
    color: var(--light_green);
}

img {
    width: 100%;
    display: block;
}

/* ------------
--- Classes ---
------------ */ 

.colored {
    /* I wanted to make some text green to emphasize 
    it, so I made a class for it.  */
    color: var(--light_green);
}

.pictures_box {
    /* Different type of box, because I wanted the picture box to look a bit different. */
    background-color: var(--white);
    border: var(--light_green), solid, 2px;
    box-shadow: 0 0 0 0;
    padding: 5px 20px;

    columns: 2; /* Make the pictures appear in two columns */
    column-gap: 12px;
}

.pictures_box img {
    /* Dictates how pictures inside the designated section for them should open*/
    width: 100%;
    margin-bottom: 12px;
    padding: 20px, 20px;
}



/*

/* I scrapped these because I condensed my code and put the details for these in the "div" section.

.education {
    /* Specifies format for the 
    education box on my second page 
    
    border: var(--darker_gray), solid, 2px;
    background-color: var(--gray);
    
    box-shadow: 2px 2px 2px var(--light_green);
    padding: 5px 20px;
    margin-bottom: 20px;

}

.work_experience {
    /* Specifies format for the boxes 
    describing my work experience 
    border: var(--darker_gray), solid, 2px;
    background-color: var(--gray);
    
    box-shadow: 2px 2px 2px var(--light_green);
    padding: 5px 20px;
    margin: 5px auto;

    
}
*/

.work_experience {
    background-color: var(--white);
    border: var(--darker_gray), solid, 0.5px;
    box-shadow: 1px 1px 1px var(--light_green);
    padding: 5px 20px;
    margin: 10px auto;
    margin-bottom: 20px;
}
